<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ПАС</title>
    <!-- Bootstrap -->
    {% load bootstrap4 %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% bootstrap_javascript %} {% bootstrap_css %}
</head>

<body>

<nav class="navbar navbar-dark bg-dark fixed-top" role="navigation"
     style="position: -webkit-sticky; position: sticky; top: 0;">

    <div class="col-1 "></div>
    <div class="col-10">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'companies_list' %}">Список контрагентов</a>
        </div>
        <div class="navbar-header">
            {#                        <a class="navbar-brand" href="{% url 'tune_up_list' %}">Настройки</a>#}
        </div>
    </div>
    <div class="col-1 "></div>


</nav>
<div class="col-1"></div>
<div class="col-10 container-fluid">
    {% block content %}
    {% endblock %}
</div>
<div class="col-1"></div>
</body>

</html>
