{% extends 'sas/base.html' %}
{% block content %}
    {% load widget_tweaks %}{% csrf_token %}
    <table class="table table-striped">
        <thead>

        <tr>
            <form id="addINNForm" class="form-group" action="" method="POST">
                <td>
                    <input id='addedINN' type="inn" class="form-control" placeholder="ИНН">
                </td>
                <td class="text-left">
                    <input class="btn btn-primary" type="submit" value="Добавить компанию"/>
                </td>
            </form>
        </tr>
        <tr>
            <form action="" method="get">

                <td>
                    <input id="inputCompNameOrINN" class="form-control" type="text"
                           placeholder="Название компании или ИНН">
                </td>
                <td>
                    <input id="clearButton" class="btn btn-primary" type="submit" value="Убрать фильтрацию"/>
                </td>


            </form>
        </tr>
        </thead>

        <tbody class="paleblue tableFilter" id="newCompany"></tbody>
        <tbody class="paleblue tableFilter" id="companiesList"></tbody>
    </table>

    <script>
        console.log(window.location)
        var socket_url = 'ws://' + window.location.host + window.location.pathname
        console.log(socket_url)
        var socket = new WebSocket(socket_url)

        socket.onmessage = function (event) {
            console.log("socket message")
            var data = JSON.parse(event.data)
            var nameID = String(Object.keys(data))


            switch (nameID) {
                case 'companiesList':
                    showCompaniesList(data[nameID], nameID);
                    break;
                case 'newCompany':
                    showNewCompany(data[nameID], nameID);
                    break;
            }

            function showCompaniesList(companiesList, nameID) {
                var doc = document.getElementById(nameID)
                if (doc.childElementCount == 0) {
                    companiesList.forEach(function (newCompany, index) {
                        showNewCompany(newCompany, nameID)
                    });
                }
            }

            function showNewCompany(newCompany, nameID) {
                var ref = "/company/"
                var refDetail = ref + newCompany.id

                var line = '<tr class="cursor-pointer" onclick="document.location =\'' + refDetail + '\';">' +
                    '<td>' + newCompany.name + '</td>' +
                    '<td>' + newCompany.inn + '</td>' +
                    '</tr>'

                $('#' + nameID).append(line)

            }

        }

        socket.onopen = function (event) {
            console.log('socket opened', event)

            // Отправить запрос на добавления нового инн.
            var form = $("#addINNForm")
            form.submit(function (e) {
                e.preventDefault()
                var inn = $('#addedINN').val()
                if (inn) {
                    data = {
                        'inn': inn,
                    }
                    socket.send(JSON.stringify(data))
                    $('#addINNForm')[0].reset(); // очистить форму ввода
                }
            })


        }

        socket.onclose = function (event) {
            console.log('socket closed', event)
        }

        $(document).ready(function () {
            $("#inputCompNameOrINN").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".tableFilter tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        // очистить форму фильтра
        document.getElementById("clearButton").onclick = function (e) {
            document.getElementById("inputCompNameOrINN").value = "";
        }
    </script>
    <style type="text/css">
        .cursor-pointer {
            cursor: pointer;
        }
    </style>

{% endblock %}
