{% extends 'sas/base.html' %}
{% block content %}
    {% csrf_token %}
    <div class="row">
    <div class="col-5">
        <table class="table">
            <header>
                <tr>
                    <th><h3>Реквизиты</h3></th>
                    <th><a href="{% url 'companies_list' %}" class="btn btn-secondary">Назад</a></th>
                </tr>
            </header>
            <tbody id="companyDetail" class=""></tbody>
        </table>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
        <table class="table">
            <header>
                <tr>
                    <th><h3>Новости</h3></th>
                </tr>
                <tr>
                    <th>дата</th>
                    <th>Заголовок</th>
                </tr>
            </header>
            <tbody class="paleblue" id="newNews"></tbody>
            <tbody class="paleblue" id="newsList"></tbody>
        </table>
    </div>
    </div>

    <script>
        console.log(window.location);
        var socket_url = 'ws://' + window.location.host + window.location.pathname;
        console.log(socket_url);
        var socket = new WebSocket(socket_url);

        socket.onmessage = function (event) {
            console.log("socket message");
            var data = JSON.parse(event.data);
            var nameID = String(Object.keys(data));
            switch (nameID) {
                case 'newsList':
                    showNewsList(data[nameID], nameID);
                    break;
                case 'companyDetail':
                    showCompanyDetail(data[nameID], nameID);
                    break;
                case 'newNews':
                    showNewNews(data[nameID], nameID);
                    break;
            }
        };

        function showNewsList(newsList, nameID) {
            var doc = document.getElementById(nameID);
            if (doc.childElementCount === 0) {
                newsList.forEach(function (newNews, index) {
                    showNewNews(newNews, nameID)
                });
            }
        }

        function showCompanyDetail(companyDetail, nameID) {
            var doc = document.getElementById(nameID);
            if (doc.childElementCount === 0) {
                companyDetail.forEach(function (param, index) {
                    var line = '<tr>' +
                                '<td>' +
                                '<p>' +
                                param.name +
                                ':</p>' +
                                '</td>' +
                                '<td>' +
                                param.val +
                                '</td>' +
                                '</tr>';
                    $('#' + nameID).append(line)
                });
            }
        }

        function showNewNews(newNews, nameID) {
            var status = newNews.status;
            var bg_status;
            switch (status) {
                case 'negative':
                    bg_status = "bg-danger";
                    break;
                case 'positive':
                    bg_status = "bg-success";
                    break;
                case 'neutral':
                    bg_status = "";
                    break;
            }
            var ref = "/news/"
            var refNews = ref + newNews.id
            var line = '<tr class="cursor-pointer ' + bg_status + '" onclick="document.location =\'' + refNews + '\';">' +
                '<td>' + newNews.date + '</td>' +
                '<td>' + newNews.title + '</td>' +
                '</tr>';
            $('#' + nameID).append(line)
        }

        socket.onopen = function (event) {
            console.log('socket opened', event)
        }

        socket.onclose = function (event) {
            console.log('socket closed', event)
        }
    </script>
    <style type="text/css">
        .cursor-pointer{
            cursor: pointer;
        }
   </style>
{% endblock %}