{% extends 'sas/base.html' %}
{% block content %}
    {% csrf_token %}
    {% if news.status == "negative" %}
        <div class="col text-center bg-danger">
    {% elif  news.status == "positive" %}
        <div class="col text-center bg-success">
    {% else %}
        <div class="col text-center">
    {% endif %}
<h3>{{ news.title }}</h3></div>
<div class="col">
    <a href="{% url 'company_detail' news.company.id %}" class="btn btn-secondary">Назад</a>
</div>
<div class="col">
    <table class="table">
        <header>
            <tr>
                <th><h4>{{ news.date }}</h4></th>
            </tr>
        </header>
        <tbody class="">
        <tr>
            <th>{{ news.body }}</th>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}